.author {
  height: remify(35px);
  overflow: hidden;

  &__list {
    @include list-reset;

    position: relative;
    transition: transform $duration $ease-out-quad;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  &__img {
    width: remify(25px);
    height: remify(25px);
    border: 2px solid $white;
    border-radius: 50%;
  }

  &__img + &__name {
    margin-left: remify(5px);
  }

  &__name {
    font-size: remify(10px);
    color: $alto;
  }
}
