.btn {
  display: inline-block;
  height: 36px;
  padding: 0 30px;
  font-size: remify(14px);
  font-weight: 700;
  line-height: 36px;
  color: $tundora;
  background-color: $white;
  border-radius: remify(6px);
  box-shadow: 0 1px 2px 0 rgba($primary, .2);

  &:active {
    color: $white;
    background-color: $tundora;
  }
}
