.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__frame {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
  }

  &__frame.is-animate,
  &__frame.is-animate &__item {
    transition: transform $duration * 1.5 $ease-out-quad;
  }

  &__item {
    position: relative;
    flex: 1 0 100%;
    height: 100%;
  }
}
