.card {
  position: relative;
  height: 100%;
  overflow: hidden;

  &__drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__drawer {
    z-index: 5;
  }
}

.card-pager {
  @include list-reset;

  position: absolute;
  right: 0;
  bottom: 105px;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);

  &__item + &__item {
    margin-left: 16px;
  }

  &__btn {
    position: relative;
    z-index: 3;
    display: block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-color: rgba($primary, .8);
    border-radius: 50%;
  }

  &__btn::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-color: $alto;
    content: '';
    transform: translate3d(0, 100%, 0);
    transition: transform $duration * 1.5 $ease-out-quad;
  }

  &__btn.is-active::before {
    transform: translate(0, 0);
  }
}
