.drawer {
  transform: translate3d(0, calc(100% - 85px), 0);

  &.is-animate {
    transition: transform $duration $ease-out-quad;
  }

  &,
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1 1 auto;
    padding: remify(15px) remify(25px);
    background-color: rgba($primary, .5);
    -webkit-backdrop-filter: blur(15px);
  }

  &__text {
    margin: 0;
  }

  &__btn {
    width: remify(145px);
    margin: auto auto 15px;
  }
}

.drawer-header {
  position: relative;
  display: flex;
  height: remify(85px);
  padding: remify(15px);
  background-color: rgba($primary, .8);

  &__left {
    flex: 0 0 (2 / 3) * 100%;
    padding-right: 10px;
  }

  &__right {
    display: flex;
    align-items: center;
    flex: 0 0 (1 / 3) * 100%;
  }

  &__title,
  &__subtitle {
    margin: 0;
  }

  &__title + &__subtitle {
    margin-top: remify(10px);
  }

  &__title {
    font-size: remify(20px);
    font-weight: 700;
    line-height: remify(24px);
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: remify(15px);
    font-weight: 300;
    line-height: remify(18px);
  }

  &__author {
    margin-left: auto;
  }
}
