$bubble-size: 45px;
$bubble-radius: ($bubble-size / 2);

.fav-button {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $bubble-size;
    height: $bubble-size;
    border: $bubble-radius solid $butter-cup;
    border-radius: $bubble-radius;
    content: '';
    transform: translate3d(-50%, -50%, 0) scale(0);
  }

  &.is-active::before {
    animation: show-bubble $duration * 5 $ease-out-back;
    will-change: border-width;
  }

  &.is-active .fav-button__icon {
    animation: bounce-icon $duration * 3 $ease-out-back;

    g {
      fill: $butter-cup;
    }
  }

  &__icon {
    position: relative;
    z-index: 2;
  }
}

@keyframes bounce-icon {
  0%,
  17.5% {
    transform: scale(0);
  }
}

@keyframes show-bubble {
  15% {
    border-width: $bubble-radius;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  30%,
  100% {
    border-width: 0;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}
