.page-header {
  @include scrim-gradient($black, 'to bottom', .7);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 20px;
  transition: opacity $duration;

  &.is-hidden {
    opacity: 0;
  }

  &__logo {
    width: 40px;
    height: 32px;
  }

  &__btn {
    margin-left: auto;
  }
}
