$img-animation-duration: $duration * 2;
$screen-animation-duration: $duration * 3;

.splash-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $blue-zodiac;

  &.is-hidden,
  &.is-hidden &__img {
    animation-fill-mode: forwards;
  }

  &.is-hidden {
    visibility: hidden;
    animation: move-screen $screen-animation-duration;
    animation-delay: $img-animation-duration + $duration;
    animation-timing-function: $ease-out-expo;
    transition: visibility ($screen-animation-duration + $img-animation-duration);
  }

  &.is-hidden &__img {
    animation: shrink-img $img-animation-duration;
    animation-timing-function: $ease-in-out-sine;
    animation-fill-mode: forwards;
  }
}

@keyframes shrink-img {
  70%,
  100% {
    opacity: 0;
    transform: scale(.6);
  }
}

@keyframes move-screen {
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
