<div class="{{#if class}}{{class}} {{/if}}author">
  <ul class="{{#if listClass}}{{listClass}} {{/if}}author__list">
    {{#each allAuthors as |item|}}
      <li class="{{#if ../itemClass}}{{../itemClass}} {{/if}}author__item">
        <img class="author__img" src="{{item.avatar}}" srcset="{{item.avatar}} 1x, {{suffix-filename item.avatar "@2x"}} 2x" alt="{{item.author}}">
        <em class="author__name">{{item.author}}</em>
      </li>
    {{/each}}
  </ul>
</div>
