<section class="card js-slider">
  {{#> components/carousel
    items=slides
    frameClass="card__slider js-slider-container"
    itemClass="js-slider-item"
    pagerClass="card-pager"
    pagerItemClass="card-pager__item"
    pagerBtnClass="card-pager__btn js-slider-bullet"
    showPager=true
  }}
    {{> components/slide
      imgUrl=this.url
    }}
  {{/components/carousel}}

  {{> components/drawer
    class="card__drawer js-drawer"
    listClass="js-shuffler"
    itemClass="js-shuffler-item"
    title=title
    text=description
    slides=slides
  }}
</section>
