<div class="{{#if class}}{{class}} {{/if}}carousel">
  <div class="{{#if frameClass}}{{frameClass}} {{/if}}carousel__frame">
    {{#each items as |item|}}
      <div class="{{#if ../itemClass}}{{../itemClass}} {{/if}}carousel__item">
        {{{@partial-block item}}}
      </div>
    {{/each}}
  </div>

  {{#if showPager}}
    <ul class="{{#if pagerClass}}{{pagerClass}} {{/if}}carousel-pager">
      {{#each items}}
        <li class="{{#if ../pagerItemClass}}{{../pagerItemClass}} {{/if}}carousel-pager__item">
          <a class="{{#if ../pagerBtnClass}}{{../pagerBtnClass}} {{/if}}carousel-pager__btn" href="#"></a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
