<section class="{{#if class}}{{class}} {{/if}}drawer">
  <header class="drawer-header">
    <div class="drawer-header__left">
      <h1 class="drawer-header__title">{{title}}</h1>
      <h3 class="drawer-header__subtitle">{{subtitle}}</h3>
    </div>

    <div class="drawer-header__right">
      {{> components/author
        class="drawer-header__author"
        allAuthors=slides
      }}
    </div>
  </header>

  <article class="drawer__content">
    <p class="drawer__text">{{text}}</p>
    <button class="drawer__btn btn" type="button">More</button>
  </article>
</section>
