<section class="{{#if class}}{{class}} {{/if}}slide">
  <img class="slide__img js-image-loader" src="{{imgUrl}}" srcset="{{imgUrl}} 1x, {{suffix-filename imgUrl "@2x"}} 2x" alt="{{title}}">
</section>
