//=======================
// Form fields
//=======================

@mixin placeholder {
  $placeholders: ':-webkit-input' ':-moz' '-moz' '-ms-input';

  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

//=======================
// Typography
//=======================

@function remify($px) {
  @return ($px / $base-font-size) * 1rem;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

//=======================
// Scaling
//=======================

@function calc-vw($size, $base-size) {
  @return ($size / $base-size) * 100 * 1vw;
}

@function calc-vh($size, $base-size) {
  @return ($size / $base-size) * 100 * 1vh;
}

@function calc-vm($size, $base-size) {
  @return ($size / $base-size) * 100 * 1vm;
}

@function calc-vmin($size, $base-size) {
  @return ($size / $base-size) * 100 * 1vmin;
}

@function calc-vmax($size, $base-size) {
  @return ($size / $base-size) * 100 * 1vmax;
}

// Maintain full page height on mobile device browsers
// using viewport height unit.
@mixin get-fixed-vh($prop, $size, $offset: 0) {
  #{$prop}: calc(#{$size * 1vh} - #{$offset});

  @media screen and (max-device-aspect-ratio: 3 / 4) {
    #{$prop}: calc(#{$size * 1vw * 1.333} - #{$offset});
  }

  @media screen and (max-device-aspect-ratio: 2 / 3) {
    #{$prop}: calc(#{$size * 1vw * 1.5} - #{$offset});
  }

  @media screen and (max-device-aspect-ratio: 10 / 16) {
    #{$prop}: calc(#{$size * 1vw * 1.6} - #{$offset});
  }

  @media screen and (max-device-aspect-ratio: 9 / 16) {
    #{$prop}: calc(#{$size * 1vw * 1.778} - #{$offset});
  }
}

//=======================
// Easing linear gradient
//
// see: https://css-tricks.com/easing-linear-gradients
// code: https://codepen.io/joeyquarters/pen/dWJYdV
//=======================

@mixin scrim-gradient($startColor, $direction: 'to bottom', $opacity: 1) {
  $scrimCoordinates: (
    0: 1,
    19: .738,
    34: .541,
    47: .382,
    56.5: .278,
    65: .194,
    73: .126,
    80.2: .075,
    86.1: .042,
    91: .021,
    95.2: .008,
    98.2: .002,
    100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue * $opacity) percentage($colorStop / 100);
    $stops: append($stops, $stop, comma);
  }

  background: linear-gradient(unquote($direction), $stops);
}
