<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>Underwater Paradise</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,800" rel="stylesheet">

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">
      {{> header}}

      <main class="main">
        {{{ block "main"}}}
      </main>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

    <!-- build:js js/vendor.js -->
    <script src="/js/vendor.js" type="text/javascript"></script>
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="/js/main.js" type="text/javascript"></script>
    <!-- endbuild -->
  </body>
</html>
