//=======================
// Colors
//=======================

$white: #fff;
$black: #000;
$alto: #e0e0e0;
$tundora: #4a4a4a;
$blue-zodiac: #142c5c;
$butter-cup: #f6a623;

$primary: $black;
$text: $white;
