//=======================
// Core styles
//=======================

html {
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-weight: 400;
  line-height: 1.667;
  color: $text;
  background-color: $primary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}

//=======================
// Styles reset
//=======================

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  &:focus,
  &:active {
    outline: 0;
  }
}

button {
  font-family: $base-font-family;
  font-size: remify(14px);
  cursor: pointer;
  background: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

input,
textarea {
  font-family: $base-font-family;
  box-sizing: border-box;
}
