---
title: 'Home'
---

{{#extend "base"}}
  {{#content "main"}}

    {{#> components/carousel
      items=data.categories
      class="js-cards"
      frameClass="js-cards-container"
      itemClass="js-cards-item"
    }}
      {{> components/card
        title=this.title
        subtitle=this.subtitle
        slides=this.slides
        description=this.description
      }}
    {{/components/carousel}}

    {{> splash-screen}}
 {{/content}}
{{/extend}}
